In [1]:
import pandas as pd

In [2]:
import numpy as np

read data from csv for housing price prediction data

In [39]:
df = pd.read_csv('housing-price/housing_price_dataset.csv')

print first few records

In [40]:
df.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

check for Na or None values

In [41]:
df.isna().any()

SquareFeet      False
Bedrooms        False
Bathrooms       False
Neighborhood    False
YearBuilt       False
Price           False
dtype: bool

check for null records

In [42]:
df.isnull().any()

SquareFeet      False
Bedrooms        False
Bathrooms       False
Neighborhood    False
YearBuilt       False
Price           False
dtype: bool

check for duplicates

In [43]:
df.duplicated().any()

False

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SquareFeet    50000 non-null  int64
 1   Bedrooms      50000 non-null  int64
 2   Bathrooms     50000 non-null  int64
 3   Neighborhood  50000 non-null  object
 4   YearBuilt     50000 non-null  int64
 5   Price         50000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

In [45]:
df.count()

SquareFeet      50000
Bedrooms        50000
Bathrooms       50000
Neighborhood    50000
YearBuilt       50000
Price           50000
dtype: int64

In [46]:
df.describe()

         SquareFeet      Bedrooms     Bathrooms     YearBuilt          Price
count  50000.000000  50000.000000  50000.000000  50000.000000   50000.000000
mean    2006.374680      3.498700      1.995420   1985.404420  224827.325151
std      575.513241      1.116326      0.815851     20.719377   76141.842966
min     1000.000000      2.000000      1.000000   1950.000000  -36588.165397
25%     1513.000000      3.000000      1.000000   1967.000000  169955.860225
50%     2007.000000      3.000000      2.000000   1985.000000  225052.141166
75%     2506.000000      4.000000      3.000000   2003.000000  279373.630052
max     2999.000000      5.000000      3.000000   2021.000000  492195.259972

In [47]:
df.Bedrooms[0]

4

In [48]:
df.columns

Index(['SquareFeet', 'Bedrooms', 'Bathrooms', 'Neighborhood', 'YearBuilt',
       'Price'],
      dtype='object')

column and datatype

In [49]:
for col in df.columns:
    print(col, df[col].dtype)

SquareFeet int64
Bedrooms int64
Bathrooms int64
Neighborhood object
YearBuilt int64
Price float64

In [50]:
df.Neighborhood.unique()

array(['Rural', 'Suburb', 'Urban'], dtype=object)

In [51]:
df.Bedrooms.nsmallest()

2     2
3     2
5     2
6     2
12    2
Name: Bedrooms, dtype: int64